[Unit]
Description=TCP acceleration service.
DefaultDependencies=no
Before=systemd-networkd.service cloud-config.service cloud-final.service
RequiresMountsFor=/sys /dev
#After=basic.target systemd-journald.socket

[Service]
Type=notify
ExecStart=/bin/bash /usr/lib/tas-wrapper/wrapper.sh
EnvironmentFile=/etc/default/tas

[Install]
WantedBy=network-online.target cloud-config.service cloud-final.service

